<% errors.forEach(function(message){ %>
    <div class="error-display">
        <%=message%>
    </div>
<% }) %>

<% success.forEach(function(message){ %>
    <div class="success-display">
        <%=message%>
    </div>
<% }) %>