<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-light" id="mainNav" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">
    <div class="container"><a class="navbar-brand" href="/tutors" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">Home</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarResponsive" style="color: rgb(33, 37, 41);">
            <ul class="navbar-nav ms-auto text-uppercase">
                <li class="nav-item"><a class="nav-link" href="/tutors/portfolio" style="color: var(--bs-dark);font-family: 'Josefin Sans', sans-serif;">protfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">webinars</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">courses</a></li>
                <li class="nav-item"><a class="nav-link" href="#" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">Activities</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="border-color: #010101;color: #010101;font-family: 'Josefin Sans', sans-serif;background: linear-gradient(-132deg, #DE6767, #7F67DE);">tutor</a>
                    <div class="dropdown-menu"><a class="dropdown-item" href="#">my courses</a><a class="dropdown-item" href="/tutors/profile">profile</a><a class="dropdown-item" href="#">ACHIVEMENTS<br></a>
                    <form action="/logout" method="post"><a class="dropdown-item" href="#">logout</a></form> 
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/bs-init.js"></script>
<script src="/js/-Filterable-Cards-.js"></script>
<script src="/js/agency.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.js"></script>
<script src="/js/Profile-Edit-Form.js"></script>
<script src="/js/slider-hover.js"></script>