
 <%- include('includes/admin-header') %>


 <!-- *********************admin body start**************** -->
 <div class="admin-body">
     <div class="student-form">
         
         <%- include('includes/flash') %>

         <div class="basic-information">
             <h3>Add Department</h3>
             <form action="/add-department" method="post" class="basic-info-form" enctype="multipart/form-data" >
                 <div>
                     <input type="text" name="departmentName" placeholder="Department Name">
                 </div>
                 
                 <label for="description" class="description">
                     <textarea name="description" id="iddress" rows="2" placeholder="Description"></textarea>
                 </label>
                 <label for="fileUpload" class="flie-upload-label">
                     <div>
                         <i class="fa fa-file-upload"></i>
                     </div>
                     <input class="file-upload" type="file" id="fileUpload" name="image">
                     <p><strong>Click here to Choose a file</strong> or drag it here</p>
                 </label>
                
                 <div class="form-btn">
                     <button type="submit" class="btn submit-btn">Submit</button>
                     <button type="submit" class="btn cancel-btn">cancel</button>
                    
                 </div>
             </form>
         </div>
        
     </div>
 </div>
 <!-- *********************admin body end**************** -->
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="/js/admin.js"></script>
</body>
</html>