<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/time-table.css">
</head>
<body>
    <h2>Time Table</h2>
    <div class="container">
        <table class="MU-table">
            <thead>
                <tr class="title">
                    <th>#</th>
                    <th>Subject</th>
                    <th>From-To</th>
                    <th>Faculty Name</th>
                </tr>
            </thead>

            <tbody>
                <tr class="row1">
                    <td>1</td>
                    <td>OS</td>
                    <td>10:30-12:30-TC3</td>
                    <td>KNV-MA001</td>
                </tr>
                <tr class="row2">
                    <td>2</td>
                    <td>COA</td>
                    <td>11:30-12:30-TC3</td>
                    <td>NKV-MA001</td>
                </tr>
                <tr class="row3">
                    <td>3</td>
                    <td>SANM</td>
                    <td>1:15-2:15-TC3</td>
                    <td>PCS-MA001</td>
                </tr>
                <tr class="row4">
                    <td>4</td>
                    <td>OOPJ</td>
                    <td>2:15-3:15-TC3</td>
                    <td>AMC-MA001</td>
                </tr>
                <tr class="row5">
                    <td>5</td>
                    <td>SANM</td>
                    <td>2:15-3:15-TC3</td>
                    <td>CRV-MA001</td>
                </tr>
                <tr class="row6">
                    <td>6</td>
                    <td>HCDA</td>
                    <td>2:15-3:15-TC3</td>
                    <td>DDJ-MA001</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>