<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%title%></title>
    <link rel="stylesheet" href="/css/style4.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
  </head> -->
  <body>
    <section>
      <div class="product">
        <img src="/img/course-1-cover.jpg" alt="The cover of Stubborn Attachments" />
        <div class="description">
          <h3><%=course.name%></h3>
          <h5><%=course.price%></h5>
        </div>
      </div>
      <form action="/create-checkout-session/<%= course.id %>" method="post">
        <button type="submit" id="checkout-button">Pay</button>
      </form>
    </section>
  </body>
<!-- </html> -->