<!DOCTYPE html>
<html style="color: #010101;background: #ffffff;font-family: 'Josefin Sans', sans-serif;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>S2S</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400&amp;display=swap">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/css/-Filterable-Cards-.css">
    <link rel="stylesheet" href="/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="/css/animated-services.css">
    <link rel="stylesheet" href="/css/Article-Cards.css">
    <link rel="stylesheet" href="/css/File-Manager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.css">
    <link rel="stylesheet" href="/css/Landing-Page---Parallax-Background---Logo-Heading-ButtonGIF.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/css/Ludens-Users---4-Edit-Profile.css">
    <link rel="stylesheet" href="/css/News-Cards.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/css/slider-hover.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Team-with-rotating-cards.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="54" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-light" id="mainNav" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">
        <div class="container"><a class="navbar-brand" href="#page-top" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">S2S</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="color: rgb(33, 37, 41);">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link" href="#services" style="color: var(--bs-dark);font-family: 'Josefin Sans', sans-serif;">Services</a></li>
                    <li class="nav-item"><a class="nav-link" href="#about" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">TESTIMONIALS<br></a></li>
                    <li class="nav-item"><a class="nav-link" href="#team" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">team</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">contact</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="border-color: #010101;color: #010101;font-family: 'Josefin Sans', sans-serif;background: linear-gradient(-132deg, #DE6767, #7F67DE);">LOGIN</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="/logins">As A student</a><a class="dropdown-item" href="/logint">as A tutor</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image: url('/img/header.webp');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span style="color: #010101;font-family: 'Josefin Sans', sans-serif;">Welcome To Our Tutoring Website!</span></div>
                <div class="intro-heading text-uppercase"><span style="color: #010101;font-family: 'Josefin Sans', sans-serif;">It's Nice To Meet You</span></div><a class="btn btn-primary border rounded-pill btn-xl text-uppercase" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" href="/signups" style="background: linear-gradient(-149deg, #DE6767, #7F67DE);color: #010101;font-family: 'Josefin Sans', sans-serif;">GET SARTED</a>
            </div>
        </div>
    </header>
    <section id="services" class="services">
        <div class="container-md section-title">
            <div class="text-center">
                <h2 class="text-uppercase section-heading">Services</h2>
                <h2 style="color: #75aadb;">We Offer Awesome<span style="color: #d12d33;"><strong>&nbsp;Services</strong></span></h2>
                <p class="d-inline-block" style="width: 50%;"><br>We always aspire to give you the best Tutoring experience<br><br>&nbsp; &nbsp;&nbsp;</p>
            </div>
            <div class="row">
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fas fa-book" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><br><strong>Offline Tutoring&nbsp;</strong><br><a href="#"></a></h4>
                            <p class="description"><br>We provide services of connecting offline tutors with students who want to have a personalized experience&nbsp;<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fas fa-desktop" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><br><strong>Online Tutoring&nbsp;</strong><br><a href="#"></a></h4>
                            <p class="description"><br>We provide integrated platforms to help our students to access affordable education from a remote location<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="fab fa-codepen" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><br><strong>Well Designed&nbsp;</strong><br><a href="#"></a></h4>
                            <p class="description"><br>Our website&nbsp;is designed in such a way that it is very easy for a user of any background<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="text-center icon-box">
                        <div class="icon"><i class="far fa-list-alt" style="margin-bottom: 15px;"></i>
                            <h4 class="title"><br><strong>Best scheduling</strong><br><a href="#"></a></h4>
                            <p class="description"><br>We manage the scheduling of both online and offline tutoring sessions and also track the progress made by the tutor<br>&nbsp; &nbsp; &nbsp;&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase">Testimonials</h2>
                    <h3 class="text-muted section-subheading">Let's hear it from the students and tutors</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-group timeline">
                        <li class="list-group-item">
                            <div class="timeline-image" style="background: linear-gradient(#DE6767, #7F67DE);"><img class="rounded-circle img-fluid" src="/img/about/IMG-20211214-WA0020.jpg" style="background-image: header.webp;"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Victorien Bidas</h4>
                                    <h4 class="subheading">Student</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My experience as a&nbsp; student on this website was very pleasant and enjoyable, The tutors are very engaging and understanding, they don't make you feel like you can't understand the concept and they will support you in every way they can.&nbsp;</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/IMG_20211026_000557_896.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Shilmat Gelan</h4>
                                    <h4 class="subheading">Tutor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My students are very inquisitive and engaged which makes it easier for me to put more effort into preparing new material and delivering, my students see me more than just a tutor they see me more like a mentor as well.</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/IMG_20220316_082151_434.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Helen Tadesse</h4>
                                    <h4 class="subheading">Student</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I never thought I would have such a personalized relationship and chemistry with my tutor but now my tutor is not only my educational support she is more like a guide and mentor.&nbsp;</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="/img/about/IMG_20210807_193520_539.jpg"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Teketel Lema</h4>
                                    <h4 class="subheading">Tutor</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My students make this tutoring journey worth it as a tutor who hasn't had an experience, I thought it was gonna be hard to connect with my students but their devotion to learning has made to try harder.&nbsp;</p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item timeline-inverted">
                            <div class="timeline-image" style="background: linear-gradient( #DE6767, #7F67DE );">
                                <h4>Be Part<br>&nbsp;Of Our<br>&nbsp;Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light" id="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="/img/photo_2022-07-29_08-24-58.jpg">
                        <h4>Daniel Mituku</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="#" style="background: linear-gradient( #DE6767, #7F67DE ), var(--bs-blue);"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" style="background: linear-gradient( #DE6767, #7F67DE );"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" style="background: linear-gradient( #DE6767, #7F67DE );"><i class="fa fa-linkedin" style="background: linear-gradient( #DE6767, #7F67DE );"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="/img/team/IMG_20211210_011234_365.jpg">
                        <h4>Sirawbizu Gelan</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="#" style="background: linear-gradient( #DE6767, #7F67DE );"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" style="background: linear-gradient( #DE6767, #7F67DE );"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" style="background: linear-gradient( #DE6767, #7F67DE );"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member"><img class="rounded-circle mx-auto" src="/img/photo_2022-07-29_08-25-50.jpg">
                        <h4>Haymanot Wale</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li class="list-inline-item"><a href="#" style="background: linear-gradient( #DE6767, #7F67DE );"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#" style="background: linear-gradient( #DE6767, #7F67DE );"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="#" style="background: linear-gradient( #DE6767, #7F67DE );"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" style="color: var(--bs-blue);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading" style="font-family: 'Josefin Sans', sans-serif;">Contact Us</h2>
                    <h3 class="text-muted section-subheading" style="font-family: 'Josefin Sans', sans-serif;">Let us know your concerns and feedback</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form id="contactForm" name="contactForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mb-3"><input class="form-control" type="text" id="name" placeholder="Your Name *" required=""><small class="form-text text-danger flex-grow-1 help-block lead"></small></div>
                                <div class="form-group mb-3"><input class="form-control" type="email" id="email" placeholder="Your Email *" required=""><small class="form-text text-danger help-block lead"></small></div>
                                <div class="form-group mb-3"><input class="form-control" type="tel" placeholder="Your Phone *" required=""><small class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mb-3"><textarea class="form-control" id="message" placeholder="Your Message *" required=""></textarea><small class="form-text text-danger help-block lead"></small></div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div><button class="btn btn-primary border rounded-0 btn-xl text-uppercase" id="sendMessageButton" type="submit" style="background: linear-gradient(-143deg, #DE6767, #7F67DE);">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Brand 2022</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#" style="background: linear-gradient(#DE6767, #7F67DE);"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" style="background: linear-gradient(#DE6767, #7F67DE);"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" style="background: linear-gradient(#DE6767, #7F67DE);"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#" style="color: var(--bs-blue);">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#" style="color: var(--bs-blue);">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bundle.js"></script>

     <script src="/js/bs-init.js"></script>
    <script src="/js/-Filterable-Cards-.js"></script>
    <script src="/js/agency.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.js"></script> -->
    <!-- <script src="/js/Profile-Edit-Form.js"></script>
    <script src="/js/slider-hover.js"></script> -->
</body>

</html>