<!DOCTYPE html>
<html style="color: #010101;background: #ffffff;font-family: 'Josefin Sans', sans-serif;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>S2S</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400&amp;display=swap">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/css/-Filterable-Cards-.css">
    <link rel="stylesheet" href="/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="/css/animated-services.css">
    <link rel="stylesheet" href="/css/Article-Cards.css">
    <link rel="stylesheet" href="/css/File-Manager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.css">
    <link rel="stylesheet" href="/css/Landing-Page---Parallax-Background---Logo-Heading-ButtonGIF.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/css/Ludens-Users---4-Edit-Profile.css">
    <link rel="stylesheet" href="/css/News-Cards.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/css/slider-hover.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Team-with-rotating-cards.css">
</head>
<body>
    <%- body %>
<body>
<footer>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Brand 2022</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#" style="background: linear-gradient(#DE6767, #7F67DE);"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" style="background: linear-gradient(#DE6767, #7F67DE);"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" style="background: linear-gradient(#DE6767, #7F67DE);"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#" style="color: var(--bs-blue);">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#" style="color: var(--bs-blue);">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bundle.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/-Filterable-Cards-.js"></script>
    <script src="/js/agency.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
    <script src="/js/slider-hover.js"></script>
