<body>
    <section class="login-dark" style="padding: 0px;height: 700px;">
        <form action="/logint" method="post" class="form" style="margin: 0px ;" >
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration">
                <i class="icon ion-ios-locked-outline"></i>
            </div>
            <div class="mb-3">
                <input class="form-control" type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" id ="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary d-block w-100" href = "/tutors" type="submit" style="background: linear-gradient(-135deg, #DE6767, #7F67DE);">Log In</button>
            </div>
            <a class="forgot" href="/reg" style="color: var(--bs-blue);">Create an account</a>
            <a class="forgot" href="/forgetpassword" style="color: var(--bs-blue);">Forgot your email or password?</a>
        </form>
    </section>
    <script src="/js/logins.js"></script>
</body>
