<body>
    <div class="container">

    </div>
    <section class="login-clean">
        <form method="post" class="form">
            <h2 class="visually-hidden">Login Form</h2>
            <div class="illustration">
                <i class="icon ion-ios-navigate" style="color: rgb(244,71,107);background: #ffffff;"></i>
            </div>
            <div class="mb-3">
                <input class="form-control" type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="mb-3">
                <input class="form-control" type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="mb-3">
                <button class="btn btn-primary border rounded-0 d-block w-100" type="submit" style="background: linear-gradient(-126deg, #DE6767, #7F67DE);font-family: Montserrat, sans-serif;">Log In</button>
            </div>
            <a class="forgot" href="/signup" style="font-family: Montserrat, sans-serif;color: var(--bs-blue);">Create an account</a>
            <a class="forgot" href="/forgetpassword" style="font-family: Montserrat, sans-serif;color: var(--bs-blue);">Forgot your email or password?</a>
        </form>
    </section>
    <script src="/js/logins.js"></script> 
</body>
