<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>S2S</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400&amp;display=swap">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/-Filterable-Cards-.css">
    <link rel="stylesheet" href="assets/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="assets/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="assets/css/animated-services.css">
    <link rel="stylesheet" href="assets/css/Article-Cards.css">
    <link rel="stylesheet" href="assets/css/File-Manager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/Landing-Page---Parallax-Background---Logo-Heading-ButtonGIF.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="assets/css/Ludens-Users---4-Edit-Profile.css">
    <link rel="stylesheet" href="assets/css/News-Cards.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="assets/css/slider-hover.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/Team-with-rotating-cards.css">
</head>

<body>
    <header class="text-center text-white bg-primary masthead">
        <div class="container"><img class="img-fluid d-block mx-auto mb-5" src="assets/img/team/1.jpg">
            <h1>Uchu Tamirat</h1>
            <h3><br>Hello! I am&nbsp;<strong>Uchu Tamirat</strong>. I work as interface and front end developer. I have passion for pixel perfect, minimal and easy to use interfaces.<br><br></h3>
            <hr class="star-light">
        </div><a class="btn btn-outline-primary" role="button" href="#" style="color: rgb(8,7,0);background: #ffffff;">Hire me</a>
    </header>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Blockchain</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/blockchain.jpg">
                                <p class="mb-5">A blockchain is a growing list of records called blocks which are interconnected by utilizing cryptography. Each block contains a cryptographic hash of the previous block, a time stamp, and exchange information. Utilizing blockchain we can safely store information over the shared system, where everybody can see but can’t do any alteration.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">Enroll Now</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Data mining&nbsp;</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/data.jpg">
                                <p class="mb-5">Data mining is&nbsp;a process used by companies to turn raw data into useful information.&nbsp;By using software to look for patterns in large batches of data, businesses can learn more about their customers to develop more effective marketing strategies, increase sales and decrease costs.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">Enroll Now</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Machine learning</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/machine-learning.jpg">
                                <p class="mb-5">Machine Learning is an AI technique that teaches computers to learn from experience. Machine learning algorithms use computational methods to “learn” information directly from data without relying on a predetermined equation as a model. The algorithms adaptively improve their performance as the number of samples available for learning increases.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">&nbsp;Enroll Now</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">artificial intelligence</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/d-render-ai-artificial-intelligence-technology-cpu-central-processor-unit-chipset-printed-circuit-board-electronic-137795293.jpg">
                                <p class="mb-5"><br>Artificial Intelligence is the theory and development of computer systems able to perform tasks normally requiring human intelligence, such as visual perception, speech recognition, decision-making, and translation between languages.<br><br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">&nbsp;Enroll Now</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Python programming</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/python1.jpg">
                                <p class="mb-5">Python is a<strong>&nbsp;</strong>high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation. Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly procedural), object-oriented and functional programming.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">&nbsp;Enroll Now</a></div>
            </div>
        </div>
    </div>
    <div class="modal text-center" role="dialog" tabindex="-1" id="portfolio-modal-6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                <div class="modal-body">
                    <div class="container text-center">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <h2 class="text-uppercase text-secondary mb-0">Project managment</h2>
                                <hr class="star-dark mb-5"><img class="img-fluid mb-5" src="assets/img/project.jpg">
                                <p class="mb-5">Project management involves the planning and organization of a company's resources to move a specific task, event, or duty towards completion. It typically involves a one-time project rather than an ongoing activity, and resources managed include personnel, finances, technology, and intellectual property.<br></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer pb-5"><a class="btn btn-primary btn-lg mx-auto rounded-pill portfolio-modal-dismiss" role="button" data-bs-dismiss="modal">&nbsp;Enroll Now</a></div>
            </div>
        </div>
    </div>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary">COURSES</h2>
            <hr class="star-dark mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/blockchain.jpg">
                    </a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-2" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/data.jpg">
                    </a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-3" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/machine-learning.jpg">
                    </a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-4" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/d-render-ai-artificial-intelligence-technology-cpu-central-processor-unit-chipset-printed-circuit-board-electronic-137795293.jpg">
                    </a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-5" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/python1.jpg">
                    </a></div>
                <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-6" data-bs-toggle="modal">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="assets/img/block-chain-crypto-currency-blockchain-concept-d-wireframe-digital-code-editable-cryptocurrency-template-illustration-illus-126119576.jpg">
                    </a></div>
            </div>
        </div>
    </section>
    <section class="d-flex portfolio-block cv">
        <div class="container">
            <div class="work-experience group">
                <div class="heading">
                    <h2 class="text-center">Work Experience</h2>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Web Developer</h3>
                            <h4 class="organization">Amazing Co.</h4>
                        </div>
                        <div class="col-md-6"><span class="period">10/2013 - 04/2015</span></div>
                    </div>
                    <p class="text-muted">Assisted the&nbsp;development&nbsp;team in crafting 6 WordPress sites with testing, deployment, and site updates UI Front-End<br></p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-6">
                            <h3>Front End Developer</h3>
                            <h4 class="organization">Innovative Org.</h4>
                        </div>
                        <div class="col-md-6"><span class="period">05/2015 - 12/2017</span></div>
                    </div>
                    <p class="text-muted">Worked in an Agile, collaborative environment to receive design requirements, a peer program.<br></p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Graphics Designer<br></h3>
                            <h4 class="organization">Special Inc.</h4>
                        </div>
                        <div class="col-md-6"><span class="period">12/2017 - Present</span></div>
                    </div>
                    <p class="text-muted">Graphics Designer Self-Appraisal Phrases Examples To Examine Yourself&nbsp;I have years of experience as a graphic designer, typographer, and mentor to other designers.<br></p>
                </div>
            </div>
            <div class="education group">
                <div class="heading">
                    <h2 class="text-center">Education</h2>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>High School</h3>
                            <h4 class="organization">Albert Einstein School</h4>
                        </div>
                        <div class="col-6"><span class="period">09/2005 - 05/2010</span></div>
                    </div>
                    <p class="text-muted">Albert Einstein School is one of the very known schools and I am proud to have the chance of pursuing my studies there.<br></p>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <h3>Applied Physics</h3>
                            <h4 class="organization">Stephen Hawking College</h4>
                        </div>
                        <div class="col-md-6"><span class="period">09/2010 - 06/2015</span></div>
                    </div>
                    <p class="text-muted">Stephen Hawking College&nbsp;is one of the very known schools and I am proud to have the chance of pursuing my studies there.<br></p>
                </div>
            </div>
            <div class="group">
                <div class="row">
                    <div class="col-md-6">
                        <div class="skills portfolio-info-card">
                            <h2>Skills</h2>
                            <h3>HTML</h3>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                            </div>
                            <h3>PHP</h3>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="visually-hidden">90%</span></div>
                            </div>
                            <h3>JavaScript</h3>
                            <div class="progress">
                                <div class="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-info portfolio-info-card">
                            <h2>Contact Info</h2>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-android-calendar icon"></i></div>
                                <div class="col-9"><span>10/10/1990</span></div>
                            </div>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-person icon"></i></div>
                                <div class="col-9"><span>Uchu Tamirat</span></div>
                            </div>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                                <div class="col-9"><span>+235 3217 424</span></div>
                            </div>
                            <div class="row">
                                <div class="col-1"><i class="icon ion-at icon"></i></div>
                                <div class="col-9"><span>lorem@email.com</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hobbies group">
                <div class="heading">
                    <h2 class="text-center">Hobbies</h2>
                </div>
                <p class="text-center text-muted"><br>Reading books, newspapers, and articles is one of my most interesting&nbsp; hobby,<br>Hiking. One of the best possible activities, hiking combines cardio fitness <br>Backpacking. It’s like hiking but better!<br></p>
            </div>
        </div>
    </section>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-light" id="mainNav" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">
        <div class="container"><a class="navbar-brand" href="student_home.html" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">Home</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="color: rgb(33, 37, 41);">
                <ul class="navbar-nav ms-auto text-uppercase">
                    <li class="nav-item"><a class="nav-link" href="Tutors.html" style="color: var(--bs-dark);font-family: 'Josefin Sans', sans-serif;">Find a tutor</a></li>
                    <li class="nav-item"><a class="nav-link" href="webinar.html" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">webinar</a></li>
                    <li class="nav-item"><a class="nav-link" href="online.html" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">online tarining</a></li>
                    <li class="nav-item"><a class="nav-link" href="tasks.html" style="color: #010101;font-family: 'Josefin Sans', sans-serif;">tasks</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link border rounded-pill" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="border-color: #010101;color: #010101;font-family: 'Josefin Sans', sans-serif;background: linear-gradient(-132deg, #DE6767, #7F67DE);">student</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="mycourses.html">my courses</a><a class="dropdown-item" href="student_profile.html">profile</a><a class="dropdown-item" href="">ACHIVEMENTS<br></a><a class="dropdown-item" href="logins.html">logout</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/-Filterable-Cards-.js"></script>
    <script src="assets/js/agency.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
    <script src="assets/js/slider-hover.js"></script>
</body>

</html>