<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>S2S</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,400&amp;display=swap">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/material-icons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/css/-Filterable-Cards-.css">
    <link rel="stylesheet" href="/css/404-NOT-FOUND-animated.css">
    <link rel="stylesheet" href="/css/Account-setting-or-edit-profile.css">
    <link rel="stylesheet" href="/css/animated-services.css">
    <link rel="stylesheet" href="/css/Article-Cards.css">
    <link rel="stylesheet" href="/css/File-Manager.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/assets/owl.carousel.css">
    <link rel="stylesheet" href="/css/Landing-Page---Parallax-Background---Logo-Heading-ButtonGIF.css">
    <link rel="stylesheet" href="/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/css/Ludens-Users---4-Edit-Profile.css">
    <link rel="stylesheet" href="/css/Multi-step-form.css">
    <link rel="stylesheet" href="/css/News-Cards.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css">
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/css/slider-hover.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/Team-with-rotating-cards.css">
</head>

<body>
    <section>
        <div id="multple-step-form-n" class="container overflow-hidden" style="margin-top: 0px;margin-bottom: 10px;padding-bottom: 300px;padding-top: 57px;">
            <div id="progress-bar-button" class="multisteps-form">
                <div class="row">
                    <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                        <div class="multisteps-form__progress"><a class="btn multisteps-form__progress-btn js-active" role="button" title="User Info">User Info</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Education</a></div>
                    </div>
                </div>
            </div>
            <div id="multistep-start-row" class="row">
                <div id="multistep-start-column" class="col-12 col-lg-8 m-auto">
                    <form id="main-form" class="multisteps-form__form" method="post">
                        <div id="single-form-next" class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                            <h3 class="text-center multisteps-form__title">Personal Info</h3>
                            <div id="form-content" class="multisteps-form__content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="form-label" style="text-align: left;padding: 0px;font-family: 'Josefin Sans', sans-serif;">First Name</label>
                                            <input class="form-control" id="firsname" type="text" name="firstname" style="margin: 20px;">
                                            <label class="form-label" style="width: 80.8281px;text-align: center;font-family: 'Josefin Sans', sans-serif;">Email</label>
                                            <input class="form-control" type="email" id="email" name="email" style="margin: 20px;">
                                            <label class="form-label" style="width: 80.8281px;font-family: 'Josefin Sans', sans-serif;text-align: center;">Mobile</label>
                                            <input class="form-control" type="tel" id="Mobile" name="Mobile" style="margin: 20px;">
                                            <label class="form-label" style="width: 80.8281px;font-family: 'Josefin Sans', sans-serif;text-align: center;">Address</label>
                                            <input class="form-control" type="text" required="" id="Gender" name="Gender" placeholder="Ex. Room No-361, 33/1, 3rd Floor" style="margin: 20px;font-family: 'Josefin Sans', sans-serif;width: 182px;"><label class="form-label" style="width: 80.8281px;font-family: 'Josefin Sans', sans-serif;text-align: center;">Gender</label><select class="form-select" style="font-family: 'Josefin Sans', sans-serif;margin: 20px;" name="gender">
                                                <optgroup label="Gender">
                                                    <option value="">Male</option>
                                                    <option value="">Female</option>
                                                </optgroup>
                                            </select></div>
                                        <div class="col-md-4">
                                            <label class="form-label" style="font-family: 'Josefin Sans', sans-serif;">Middle Name</label>
                                            <input class="form-control" id="middlename" name="middlename" type="text" style="margin: 20px;">
                                            <label class="form-label" style="font-family: 'Josefin Sans', sans-serif;width: 99.6094px;text-align: center;">Password</label>
                                            <input class="form-control" type="password" id="password" name="password" style="margin: 20px;">
                                            <label class="form-label" style="font-family: 'Josefin Sans', sans-serif;width: 99.6094px;text-align: center;">Alternative Mobile</label>
                                            <input class="form-control" type="tel" name="Alternative" style="margin: 20px;"></div>
                                        <div class="col-md-4">
                                            <label class="form-label" style="text-align: left;padding: 0px;font-family: 'Josefin Sans', sans-serif;width: 82.2969px;">Last Name</label>
                                            <input class="form-control" type="text" id="lastname" name="lastname" style="margin: 15px;">
                                            <label class="form-label" style="font-family: 'Josefin Sans', sans-serif;">Confirm Password</label>
                                            <input class="form-control" type="password" id="passwordConfirm" name="passwordConfirm" style="margin: 20px;">
                                            <label class="form-label" style="font-family: 'Josefin Sans', sans-serif;width: 82.2969px;">Date of birth</label>
                                            <input class="form-control" type="date" required="" id name="DOB" style="margin: 20px;">
                                            <button class="btn bg-primary btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                                        <!-- <div class="col"></div>
                                        <div class="col">
                                            <div id="next-button" class="button-row d-flex mt-4"></div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="single-form-next-prev" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn">
                            <h3 class="text-center multisteps-form__title">About</h3>
                            <div id="form-content-1" class="multisteps-form__content">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p style="font-family: 'Josefin Sans', sans-serif;">Institution</p>
                                            <input class="form-control" type="text" required="" name="institution" placeholder="Ex. Marwadi University" style="width: 300px;margin: 20px;font-family: 'Josefin Sans', sans-serif;">
                                            <p style="font-family: 'Josefin Sans', sans-serif;">Current GPA</p>
                                            <input class="form-control" type="text" required="" name="CGPA" placeholder="Ex. 8.52" style="width: 300px;margin: 20px;font-family: 'Josefin Sans', sans-serif;">
                                            <p style="font-family: 'Josefin Sans', sans-serif;">Qualification</p>
                                            <textarea class="form-control" type="text" required="" placeholder="Ex. Cisco Certified" name="Qualification" style="font-family: 'Josefin Sans', sans-serif;width: 320px;"></textarea>
                                            <p style="font-family: 'Josefin Sans', sans-serif;margin: 10px 0px 16px;">Mark sheet</p>
                                            <input class="form-control" type="file" name="Marksheet" style="font-family: 'Josefin Sans', sans-serif;">
                                            <p style="font-family: 'Josefin Sans', sans-serif;margin: 10px 0px 16px;">Resume</p>
                                            <input class="form-control" type="file" style="font-family: 'Josefin Sans', sans-serif;" name="Resume">
                                        </div>
                                        <div class="col-md-6">
                                            <p style="font-family: 'Josefin Sans', sans-serif;">Select Your Course</p>
                                            <input class="form-control" type="text" required="" name="Tutoringcourse" placeholder="Ex. Computer Engineering" style="width: 300px;margin: 20px;font-family: 'Josefin Sans', sans-serif;">
                                            <p style="font-family: 'Josefin Sans', sans-serif;">Percentage</p>
                                            <input class="form-control" type="text" required="" name="Percentage" placeholder="Ex. 85" style="width: 300px;margin: 20px;font-family: 'Josefin Sans', sans-serif;">
                                            <p style="font-family: 'Josefin Sans', sans-serif;">Experience</p>
                                            <textarea class="form-control" type="text" required="" placeholder="1 year of tutoring" name="Experience" style="font-family: 'Josefin Sans', sans-serif;width: 320px;"></textarea>
                                        </div>
                                        <div class="col-12 col-md-4 offset-md-4" data-bss-hover-animate="pulse" style="width: 230px;margin: 50px 0px 20px 400px;"><button class="btn btn-light btn-lg tada animated" data-bs-toggle="tooltip" data-bss-tooltip="" id="submit" style="margin-left: 16px;font-family: 'Josefin Sans', sans-serif;" type="submit">Submit </button></div>
                                    </div>
                                    <div id="next-prev-buttons" class="button-row d-flex mt-4"><button class="btn bg-primary btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/signup.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/bs-init.js"></script>
    <script src="/js/-Filterable-Cards-.js"></script>
    <script src="/js/agency.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.0/owl.carousel.js"></script>
    <script src="/js/Multi-step-form.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
    <script src="/js/slider-hover.js"></script>
</body>

</html>