<body>
    <main class="page" style="min-height: 100%;">
        <section class="clean-block about-us" style="padding: 100px;">
            <div class="row" style="margin-right: 0px;margin-left: 0px;">
                <div class="col text-center">
                    <h2 class="text-info">@User_Name</h2>
                </div>
            </div>
            <div class="row justify-content-center" style="margin-right: 0px;margin-left: 0px;">
                <div class="col-sm-6 col-lg-4" style="padding-right: 0px;padding-left: 0px;">
                    <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="/img/logoComedor/avatar1.jpg">
                        <div class="card-body info">
                            <div class="row" style="margin-top: -24px;">
                                <div class="col-md-12" style="margin-top: 22px;">
                                    <div class="row">
                                        <div class="col">
                                            <p class="labels" style="font-family: 'Josefin Sans', sans-serif;"><strong>Name</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="labels">albe</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="labels" style="font-family: 'Josefin Sans', sans-serif;font-weight: bold;">Age</p>
                                        </div>
                                        <div class="col">
                                            <p class="labels">23</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="labels"><strong>Email</strong><br></p>
                                        </div>
                                        <div class="col">
                                            <p class="labels">@albeg</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="labels"><strong>Mobile</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="labels">2343234</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <p class="labels"><strong>Address</strong></p>
                                        </div>
                                        <div class="col">
                                            <p class="labels">rajkot</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12"><a class="btn btn-success" role="button" href="/student/profile/edit"><i class="fas fa-pencil-alt"></i>&nbsp;Edit</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
