<body>
    <header class="masthead" style="background-image: url('/img/9-ways-creating-effective-online-training-strategy-employees.webp');">
        <div class="container">
            <div class="intro-text" style="margin: 120px;">
                <div class="intro-lead-in"></div>
                <div class="intro-heading text-uppercase"></div><a class="btn btn-primary border rounded-pill btn-xl text-uppercase" role="button" data-bs-toggle="tooltip" data-bss-tooltip="" href="#services" style="background: linear-gradient(-149deg, #DE6767, #7F67DE);color: #010101;font-family: 'Josefin Sans', sans-serif;"><strong>WELCOME&nbsp;</strong><br><strong>BACK</strong><br></a>
            </div>
        </div>
    </header>
    <div class="col-md-12" id="tutor">
        <section class="card-section-imagia">
            <h1 class="text-dark" style="margin: 0px 0px 0px;">TUTORS</h1>
            <h2>find the best tutor for a good learning exprience</h2>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="card-container-imagia">
                            <div class="card-imagia">
                                <div class="front-imagia">
                                    <div class="cover-imagia cover-gradient"></div>
                                    <div class="user-imagia"><img class="img-circle" alt="" src="/img/about/IMG_20210807_193520_539.jpg"></div>
                                    <div class="content-imagia">
                                        <h3 class="name-imagia"><strong>Teketel Lema</strong><br></h3>
                                        <p class="subtitle-imagia">Developer</p>
                                        <p class="text-center">Worked in an Agile, collaborative environment to receive design requirements, peer program.<br></p>
                                    </div>
                                    <div class="footer-imagia"><span><i class="fa fa-plus fa fa-star"></i> More info</span></div>
                                </div>
                                <div class="back-imagia">
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Experience&nbsp;</h3>
                                            <p class="text-center"><br>Assisted the&nbsp;development&nbsp;team in crafting 6 WordPress sites with testing, deployment, and site updates UI Front-End<br><br></p>
                                        </div>
                                    </div>
                                    <div class="footer-imagia">
                                        <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="card-container-imagia">
                            <div class="card-imagia">
                                <div class="front-imagia">
                                    <div class="cover-imagia cover-gradient"></div>
                                    <div class="user-imagia"><img class="img-circle" alt="" src="/img/about/IMG_20211026_000557_896.jpg"></div>
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">shilmat Gelan</h3>
                                        <p class="subtitle-imagia">Disegner</p>
                                        <p class="text-center">I am very detail oriented&nbsp;and has a great understanding of interaction design as well as graphic design.<br></p>
                                    </div>
                                    <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                </div>
                                <div class="back-imagia">
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Experience&nbsp;</h3>
                                            <p class="text-center"><br>Graphics Designer Self-Appraisal Phrases Examples To Examine Yourself&nbsp;I have years of experience as a graphic designer, typographer, and mentor to other designers.<br><br></p>
                                        </div>
                                    </div>
                                    <div class="footer-imagia">
                                        <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="card-container-imagia">
                            <div class="card-imagia">
                                <div class="front-imagia">
                                    <div class="cover-imagia cover-gradient"></div>
                                    <div class="user-imagia"><img class="img-circle" alt="" src="/img/about/IMG-20211214-WA0020.jpg"></div>
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">Victorien bidas</h3>
                                        <p class="subtitle-imagia">Entrepreneur </p>
                                        <p class="text-center">Motivational business manager with 2+ years of experience. Skilled in coaching, budgeting, and leadership.<br><br></p>
                                    </div>
                                    <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                </div>
                                <div class="back-imagia">
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Experience</h3>
                                            <p class="text-center">Volunteer Coordinator, BSA Denver Area Council, Avid kite surfer.&nbsp;Skilled in coaching, budgeting, and leadership.<br><br><br></p>
                                        </div>
                                    </div>
                                    <div class="footer-imagia">
                                        <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <h1 class="text-dark" style="margin: 30px 0px 0px;text-align: center;">COURSES</h1>
                                <h2 class="text-secondary" style="text-align: center;margin: 0px 0px 30px;">Choose the best course and enroll</h2>
                                <figure class="snip1253 click">
                                <div class="image"><img src="/img/d-render-ai-artificial-intelligence-technology-cpu-central-processor-unit-chipset-printed-circuit-board-electronic-137795293.jpg" alt="sample59"/></div>
                                <figcaption>
                                    <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                                    <h3>Artificial Intelligence</h3>
                                    <p>
                                    Artificial Intelligence is the theory and development of computer systems able to perform tasks normally requiring human intelligence.
                                    </p>
                                </figcaption>
  
                                </figure>
                                <figure class="snip1253 click">
                                <div class="image"><img src="/img/python1.jpg" alt="sample52"/></div>
                                <figcaption>
                                    <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
                                    <h3>Python Program</h3>
                                    <p>
                                    Python is a high-level, general-purpose programming language. Its design philosophy emphasizes code readability with the use of significant indentation.
                                    </p>
                                </figcaption>
                                </figure>
                                    <figure class="snip1253 click">
                                    <div class="image"><img src="/img/data.jpg" alt="sample66"/></div>
                                    <figcaption>
                                        <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
                                        <h3>Data Mining</h3>
                                        <p>
                                        Data mining is a process used by companies to turn raw data into useful information. By using software to look for patterns in large batches of data.
                                        </p>
                                    </figcaption>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>