<body>
    <section class="py-5">
        <div class="container">
            <h1 class="text-center mb-4">FILTERABLE CARDS</h1>
            <div class="filtr-controls text-center lead text-uppercase mb-3"><span class="active d-inline-block mx-3 py-1 position-relative" data-filter="all">all </span><span class="d-inline-block mx-3 py-1 position-relative" data-filter="1">Popularity </span><span class="d-inline-block mx-3 py-1 position-relative" data-filter="2">Rating </span><span class="d-inline-block mx-3 py-1 position-relative" data-filter="3">Review </span></div>
            <div class="row filtr-container">
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="/img/about/IMG_20210807_193520_539.jpg"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia"><strong>Teketel Lema</strong><br></h3>
                                    <p class="subtitle-imagia">Developer</p>
                                    <p class="text-center">Worked in an Agile, collaborative environment to receive design requirements, peer program.<br></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus fa fa-star"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Experience&nbsp;</h3>
                                        <p class="text-center"><br>Assisted the&nbsp;development&nbsp;team in crafting 6 WordPress sites with testing, deployment, and site updates UI Front-End<br><br></p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="/img/photo_2022-07-29_08-34-43.jpg"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">John Doe</h3>
                                    <p class="subtitle-imagia">Developer</p>
                                    <p class="text-center">Worked in an Agile, collaborative environment to receive design requirements, peer program.<br></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus fa fa-star"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Experience&nbsp;</h3>
                                        <p class="text-center"><br>Assisted the&nbsp;development&nbsp;team in crafting 6 WordPress sites with testing, deployment, and site updates UI Front-End<br><br></p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="/img/photo_2022-07-29_08-24-58.jpg"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">John Doe</h3>
                                    <p class="subtitle-imagia">Disegner</p>
                                    <p class="text-center">I am very detail oriented&nbsp;and has a great understanding of interaction design as well as graphic design.<br></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Experience&nbsp;</h3>
                                        <p class="text-center"><br>Graphics Designer Self-Appraisal Phrases Examples To Examine Yourself&nbsp;I have years of experience as a graphic designer, typographer, and mentor to other designers.<br><br></p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="/img/photo_2022-07-29_08-25-50.jpg"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">John Doe</h3>
                                    <p class="subtitle-imagia">Entrepreneur </p>
                                    <p class="text-center">Motivational business manager with 2+ years of experience. Skilled in coaching, budgeting, and leadership.<br><br></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Experience</h3>
                                        <p class="text-center">Volunteer Coordinator, BSA Denver Area Council, Avid kite surfer.&nbsp;Skilled in coaching, budgeting, and leadership.<br><br><br></p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="/img/about/IMG_20211026_000557_896.jpg"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">shilmat Gelan</h3>
                                    <p class="subtitle-imagia">Disegner</p>
                                    <p class="text-center">I am very detail oriented&nbsp;and has a great understanding of interaction design as well as graphic design.<br></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Experience&nbsp;</h3>
                                        <p class="text-center"><br>Graphics Designer Self-Appraisal Phrases Examples To Examine Yourself&nbsp;I have years of experience as a graphic designer, typographer, and mentor to other designers.<br><br></p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card-container-imagia">
                        <div class="card-imagia">
                            <div class="front-imagia">
                                <div class="cover-imagia cover-gradient"></div>
                                <div class="user-imagia"><img class="img-circle" alt="" src="/img/about/IMG-20211214-WA0020.jpg"></div>
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Victorien bidas</h3>
                                    <p class="subtitle-imagia">Entrepreneur </p>
                                    <p class="text-center">Motivational business manager with 2+ years of experience. Skilled in coaching, budgeting, and leadership.<br><br></p>
                                </div>
                                <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                            </div>
                            <div class="back-imagia">
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Experience</h3>
                                        <p class="text-center">Volunteer Coordinator, BSA Denver Area Council, Avid kite surfer.&nbsp;Skilled in coaching, budgeting, and leadership.<br><br><br></p>
                                    </div>
                                </div>
                                <div class="footer-imagia">
                                    <div class="social-imagia text-center"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-twitter"></i></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>