<!-- <!DOCTYPE html>
<html>


<body>
   
</body>

</html> -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Dashboard - Brand</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap1.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="/css/untitled.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 5.5H9C10.1046 5.5 11 6.39543 11 7.5V16.5C11 17.0523 10.5523 17.5 10 17.5H4C3.44772 17.5 3 17.0523 3 16.5V6.5C3 5.94772 3.44772 5.5 4 5.5ZM14 19.5C13.6494 19.5 13.3128 19.4398 13 19.3293V19.5C13 20.0523 12.5523 20.5 12 20.5C11.4477 20.5 11 20.0523 11 19.5V19.3293C10.6872 19.4398 10.3506 19.5 10 19.5H4C2.34315 19.5 1 18.1569 1 16.5V6.5C1 4.84315 2.34315 3.5 4 3.5H9C10.1947 3.5 11.2671 4.02376 12 4.85418C12.7329 4.02376 13.8053 3.5 15 3.5H20C21.6569 3.5 23 4.84315 23 6.5V16.5C23 18.1569 21.6569 19.5 20 19.5H14ZM13 7.5V16.5C13 17.0523 13.4477 17.5 14 17.5H20C20.5523 17.5 21 17.0523 21 16.5V6.5C21 5.94772 20.5523 5.5 20 5.5H15C13.8954 5.5 13 6.39543 13 7.5ZM5 7.5H9V9.5H5V7.5ZM15 7.5H19V9.5H15V7.5ZM19 10.5H15V12.5H19V10.5ZM5 10.5H9V12.5H5V10.5ZM19 13.5H15V15.5H19V13.5ZM5 13.5H9V15.5H5V13.5Z" fill="currentColor"></path>
                        </svg></div>
                    <div class="sidebar-brand-text mx-3"><span>S2S</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link active" href="index.html"><i class="fa fa-drivers-license-o"></i><span>Portifolio</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/tutors/profile"><i class="fas fa-user"></i><span>Profile</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/tutors/webinar"><i class="fa fa-book"></i><span>Courses<br></span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/tutors/Meeting"><i class="fa fa-registered"></i><span>Meeting</span></a></li>
                    <li class="nav-item"><form action="/logout" method="post"><button class="nav-link" type="submit"><i class="fas fa-user-circle"></i><span>Logout</span></button></form></li>
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <header id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                        </form>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-end p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="me-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>A new monthly report is ready to download!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2019</span>
                                                <p>$290.29 has been deposited into your account!</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 2, 2019</span>
                                                <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header">alerts center</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">shlimat Gelan</span><img class="border rounded-circle img-profile" src="/img/IMG_20211026_000557_896.jpg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Settings</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a>
                                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4"></div>
                </div><img class="img-fluid d-block mx-auto mb-5" src="/img/IMG_20211026_000557_896.jpg" style="width: 200px;">
                <h1 style="text-align: center;font-weight: bold;">shlimat Gelan<br></h1>
                <h3 style="font-weight: bold;text-align: center;"><br>Hello! I am&nbsp;<strong>shlimat Gelan</strong>. I work as interface and front end developer. I have passion for pixel perfect, minimal and easy to use interfaces.<br><a class="btn btn-outline-primary" role="button" href="#" style="color: rgb(8,7,0);background: var(--bs-blue);padding: 8px;margin: 20px;">Hire me</a><br></h3>
                <div class="container" style="margin: 20px;">
                    <h2 class="text-uppercase text-center text-secondary">COURSES</h2>
                    <hr class="star-dark mb-5">
                    <div class="row">
                        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-1" data-bs-toggle="modal">
                                <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                                    <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                                </div><img class="img-fluid" src="/img/blockchain.jpg">
                            </a></div>
                        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-2" data-bs-toggle="modal">
                                <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                                    <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                                </div><img class="img-fluid" src="/img/data.jpg">
                            </a></div>
                        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-3" data-bs-toggle="modal">
                                <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                                    <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                                </div><img class="img-fluid" src="/img/machine-learning.jpg">
                            </a></div>
                        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-4" data-bs-toggle="modal"><img class="img-fluid" src="/img/d-render-ai-artificial-intelligence-technology-cpu-central-processor-unit-chipset-printed-circuit-board-electronic-137795293.jpg"></a></div>
                        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-5" data-bs-toggle="modal"><img class="img-fluid" src="/img/python1.jpg"></a></div>
                        <div class="col-md-6 col-lg-4"><a class="d-block mx-auto portfolio-item" href="#portfolio-modal-6" data-bs-toggle="modal">
                                <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                                    <div class="text-center text-white my-auto portfolio-item-caption-content w-100"><i class="fa fa-search-plus fa-3x"></i></div>
                                </div><img class="img-fluid" src="/img/block-chain-crypto-currency-blockchain-concept-d-wireframe-digital-code-editable-cryptocurrency-template-illustration-illus-126119576.jpg">
                            </a></div>
                    </div>
                </div>
                <div class="container">
                    <div class="work-experience group">
                        <div class="heading">
                            <h2 class="text-center">Work Experience</h2>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Web Developer</h3>
                                    <h4 class="organization">Amazing Co.</h4>
                                </div>
                                <div class="col-md-6"><span class="period">10/2013 - 04/2015</span></div>
                            </div>
                            <p class="text-muted">Assisted the&nbsp;development&nbsp;team in crafting 6 WordPress sites with testing, deployment, and site updates UI Front-End<br></p>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-6">
                                    <h3>Front End Developer</h3>
                                    <h4 class="organization">Innovative Org.</h4>
                                </div>
                                <div class="col-md-6"><span class="period">05/2015 - 12/2017</span></div>
                            </div>
                            <p class="text-muted">Worked in an Agile, collaborative environment to receive design requirements, a peer program.<br></p>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Graphics Designer<br></h3>
                                    <h4 class="organization">Special Inc.</h4>
                                </div>
                                <div class="col-md-6"><span class="period">12/2017 - Present</span></div>
                            </div>
                            <p class="text-muted">Graphics Designer Self-Appraisal Phrases Examples To Examine Yourself&nbsp;I have years of experience as a graphic designer, typographer, and mentor to other designers.<br></p>
                        </div>
                    </div>
                    <div class="education group">
                        <div class="heading">
                            <h2 class="text-center">Education</h2>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>High School</h3>
                                    <h4 class="organization">Albert Einstein School</h4>
                                </div>
                                <div class="col-6"><span class="period">09/2005 - 05/2010</span></div>
                            </div>
                            <p class="text-muted">Albert Einstein School is one of the very known schools and I am proud to have the chance of pursuing my studies there.<br></p>
                        </div>
                        <div class="item">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3>Applied Physics</h3>
                                    <h4 class="organization">Stephen Hawking College</h4>
                                </div>
                                <div class="col-md-6"><span class="period">09/2010 - 06/2015</span></div>
                            </div>
                            <p class="text-muted">Stephen Hawking College&nbsp;is one of the very known schools and I am proud to have the chance of pursuing my studies there.<br></p>
                        </div>
                    </div>
                    <div class="group">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="skills portfolio-info-card">
                                    <h2>Skills</h2>
                                    <h3>HTML</h3>
                                    <div class="progress">
                                        <div class="progress-bar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                    </div>
                                    <h3>PHP</h3>
                                    <div class="progress">
                                        <div class="progress-bar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span class="visually-hidden">90%</span></div>
                                    </div>
                                    <h3>JavaScript</h3>
                                    <div class="progress">
                                        <div class="progress-bar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="contact-info portfolio-info-card">
                                    <h2>Contact Info</h2>
                                    <div class="row">
                                        <div class="col-1"><i class="icon ion-android-calendar icon"></i></div>
                                        <div class="col-9"><span>10/10/1990</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"><i class="icon ion-person icon"></i></div>
                                        <div class="col-9"><span>Uchu Tamirat</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"><i class="icon ion-ios-telephone icon"></i></div>
                                        <div class="col-9"><span>+235 3217 424</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-1"><i class="icon ion-at icon"></i></div>
                                        <div class="col-9"><span>lorem@email.com</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hobbies group">
                        <div class="heading">
                            <h2 class="text-center">Hobbies</h2>
                        </div>
                        <p class="text-center text-muted"><br>Reading books, newspapers, and articles is one of my most interesting&nbsp; hobby,<br>Hiking. One of the best possible activities, hiking combines cardio fitness <br>Backpacking. It’s like hiking but better!<br></p>
                    </div>
                </div>
            </header>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/bootstrap/js/bootstrap1.min.js"></script>
    <script src="/js/theme.js"></script>
</body>
