
.dashbord{
    padding: 10px;
    margin: 0 25px;
    background-color: #ffffff;
    border-radius: 8px;
}
.dashbord-header,
.card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
   background-color: #f8f9fa;
}
.download-report-btn {
    background-color: #1d1441;
    color: #f8f9fa;
    box-shadow: 0em 0.3em 0.5em rgba(0, 0, 0, 0.253);
}
.top-report{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-items: center;
}
.allDepartments .top-report-cards {
    height: 160px;
    background-color: #98b6d4;
    color: #0a1630;
    font-size: 1.1rem;
    font-weight: 700;
    }
.top-report-cards {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #1d1441;
    color: #f8f9fa;
    border-radius: 8px;
     box-shadow: 0em 0.3em 0.5em rgba(0, 0, 0, 0.253);
}
.top-report-cards:hover {
    transform: scale(1.04);
    transition: transform 0.3s ease-in-out;
}
.top-report-cards i{
    font-size: 40px;
    padding: 10px;
}

.top-report-cards p {
    padding: 10px;
}
.earning, .highlight-information {
    margin: 20px 0;
    width: 100%;
}
.earning{
    padding: 20px;
}
.report-graph {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.graph-type {
    padding: 11px;
    border-radius: 4px;
}
.graph-type a{
    padding: 7px;
    border: solid 1px rgb(187, 177, 177);
    border-radius: 4px; 
}
.active {
    background-color: var(--clr-primary);
}
.chart-container {
    margin: auto;
}
.highlight-information{
    display: flex;
    float: row;
}
.highlight-information div{
    width: 100%;
}
.earning, 
.new-admission,
.exam-topers {
     box-shadow: 0em 0.3em 0.5em rgba(0, 0, 0, 0.253);
    border-radius: 8px;
    margin: 5px;
}
/************ table start ********/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 18px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

@media(max-width: 1050px){
    .earning, .highlight-information{
        flex-direction: column;
    }
}